body {
    font-family:$sans-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family:$sans-font;
}

h1 {
    font-size:5rem;
    color:$white;
    font-weight:300;
    text-transform:uppercase;
}

h2 {
    color:$white;
    font-family:$serif-font;
    font-size:1.7rem;
    font-style:italic;
}